.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    max-height: 63px;
    margin-bottom: 1.2px;
    font-size: 19px;
    padding: 10px 0;
    box-sizing: border-box;
}